<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/font/fontawesome-free-5.15.4-web/css/all.min.css"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/index.css">
    <title>Justin Store</title>
</head>
<body>
    <div id="main">
        <div class="header">
            <%- include('topbar.ejs') %>
        </div>
        <div class="content">
            <div class="advanced_search">
                <%- include('advanced_search.ejs') %>
            </div>
            <div class="content-slide">
                <%- include('slide.ejs') %>
            </div>
            <div class="content-discount-code">
                <%- include('discount_code.ejs') %>
            </div>
            <div class="content-hot-product">
                <%- include('hot_product.ejs') %>
            </div>
            <div class="content-product">
                <%- include('product.ejs') %>
            </div>        
        </div>
        <script>!(function () {
            let e = document.createElement("script"),
              t = document.head || document.getElementsByTagName("head")[0];
            (e.src =
              "https://cdn.jsdelivr.net/npm/rasa-webchat@1.x.x/lib/index.js"),
              // Replace 1.x.x with the version that you want
              (e.async = !0),
              (e.onload = () => {
                window.WebChat.default(
                  {
                    customData: { language: "vi" }, // arbitrary custom data. Stay minimal as this will be added to the socket
                    initPayload: "/get_started",
                    socketUrl: "http://localhost:5005",
                    socketPath: "/socket.io/",
                    title: "Chatbot"
                  },
                  null
                );
              }),
              t.insertBefore(e, t.firstChild);
          })();
          </script>
    </div>
</body>
</html>